@media (max-width: 600px) and (orientation: portrait) {
    body {
        transform: rotate(90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
    .navbar, .content-wrapper {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vw;
        height: 100vh;
    }
}